* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("images/layered-waves-haikei.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px;
}

header img {
  height: 40px;
}

.units-buttons {
  width: 80px;
  height: 40px;
  color: white;
  background-color: #142d41;
  padding: 5px;
  border: 2px solid #142d41;
  border-radius: 30px;
  margin: 0 5px;
  font-size: 15px;
  font-weight: 500;
}

.units-buttons:hover {
  transition: 0.3s;
  cursor: pointer;
  border: 2px solid #cecece;
}

.white-border {
  border: 2px solid #cecece;
}

.search-bar {
  background-color: #142d41;
  display: flex;
  padding: 0 10px 0 20px;
  border-radius: 25px;
  align-items: center;
  height: 40px;
  width: 300px;
  border: 2px solid #142d41;
}

.search-bar input,
.search-bar button {
  background-color: transparent;
  border: none;
  color: white;
}

.search-bar input {
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  width: 100%;
}

.search-bar:hover {
  border: 2px solid white;
  transition: 0.3s;
}

.search-bar button {
  margin-left: 5px;
  cursor: pointer;
}

.search-bar img {
  height: 25px;
  padding-top: 5px;
}

/* main */ 

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.location h1 {
  font-size: 35px;
  margin-bottom: 10px;
}

.location h3 {
  color: #346186;
  font-size: 25px;
}

.main-data {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.temp-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.temp-div img {
  height: 100px;
}

.temp-div h1 {
  font-size: 80px;
}

.main-data-stats h3 {
  color: #346186;
}

.extra-data {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.extra-data div h3 {
  color: #346186;
  margin-bottom: 10px;
}
